/*Задала ширину блока, сделала пунктирную
границу блока черного цвета толщиной 2 пикселя,
задала внутренний отступ*/
div {
	width: 250px;
	border: 2px dashed black;
	padding: 3px;
}

/*Сделала элементы нижнего регистра
синего цвета*/
sub {
	color: #2312ff;
	} 

/*Сделала элементы верхнего регистра
красного цвета*/
sup {
	color: #fc1600;
}

/*Задала внешние отступы параграфа*/
p {
	margin: 3px 0 15px;
}